.navbar-brand {
    font-size: 19px;
}
.bordered{
    width: 200px;
    height: 100px;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: 5px solid yellow;
}

.block{
    max-width: 200px;
}
.navbar-toggler-icon{
    color:white;
    fill: white
}